.box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    background-color: lightgreen;
    border: solid brown 3px;
    margin: auto;
    background-image: linear-gradient(to right, rgb(114, 114, 114), rgb(89, 0, 255));
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;

}


.unit {
    width: 20px;
    height: 20px;
    top: 5px;
    background-color: red;
    position: relative;
}

.info {
    width: fit-content;
    height: fit-content;
    border: 1px solid blue;
    padding: 2px;
    margin: 2px;
    float: right;
}